/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 30/05/2023, 22:35:20
    Author     : Juan
*/


/*  Reseteo Html  */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,400;0,700;1,100;1,400;1,600
        &family=Roboto+Condensed:wght@300;400&family=Space+Grotesk:wght@500;600;700&display=swap');

:root{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-family: 'Space Grotesk', sans-serif;
}



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;  
    font-family: 'Space Grotesk', sans-serif;
    font-size: 14px;
    background-image: url(../imagen/fondo.svg);
    background-repeat:no-repeat;
    background-position-x:center;
}


.main{
    min-height: calc(100vh - (100px + 100px));
}


/*  Estilo NavBar  */

.header{
    width: 100vw;
    height: 100px;
    margin-right: 50px;
}

.header li{
    margin-right: 30px;
    font-size: 18px;
}

