/*etiqueta form*/
form{
    width: 80%; /*ancho*/  
    margin: 0 auto; /*centrado*/
    padding: 10px;

}
/*agregue este id en el html (en el primer <div> debajo del form)*/
#carta{
  border-radius: 15px;  /*recuadro del formulario*/
  background-color: #dceafc; /*color de fondo del recuadro*/
  width: 100%;
  
}
body{
    /*background-image: url(../imagen/fondo.svg);*/
     
    background-repeat:no-repeat;
    background-position-x:center;
    font-size: 14px;
}

.fila{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
}

.conten-botones{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.botones-r{
    margin: auto;
    margin-bottom: 30px;
}

.botones-r button{
    width: 450px;
}

.botones-v{
    margin: auto;
}

.botones-v a{
    width: 300px;
}
#colorformulario{
    background-color: #5bc0de;
}