body{ /*imagen azul de fondo*/
    /*background-image: url(../imagen/fondo.svg);*/
    
    background-repeat:no-repeat;
    background-position-x:center;
    
}

.row{
    background-color: #dceafc;
}
